#homePage{
    @extend %btnExtend;
    @extend %productExtend;

    font-family: $textFont;
    color: $mainTextcolor;
    #myNav{
        position: absolute;
        background-color: transparent;
        .navbar{
            .navbar-toggler{
                border: none;
                color: white !important;
            }
            .nav-item{
                .nav-link{
                    color:white;
                    &:hover{
                        color: $mainHoverColor;
                    }
                }
            }
        }
    }
    #introHome{
        .bg-img{
            background-image: url("../img/banner10.webp");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            max-width: 100%;
            height: 100vh;
            position: relative;
            &::before{
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background-color: black;
                opacity: 0.4;
            }
            .slide-area{
                position: absolute;
                top: 20%;
                width: 100%;
                .slide-banner{
                    position: relative;
                    padding: 100px 0;
                    display: none;
                    .banner-content{
                        text-align: center;
                        color: white;
                        h5{
                            text-transform: uppercase;
                            position: relative;
                            background-color: $mainHoverColor;
                            display: inline-block;
                            padding: 10px;
                            margin-bottom: 1rem;
                            &::before{
                                position: absolute;
                                content: "";
                                top: 0;
                                right: 100%;
                                width: 0;
                                height: 0px;
                                border: 22px solid #FF324D;
                                border-bottom-color: #FF324D;
                                border-left-color: transparent;
                            }
                            &::after{
                                position: absolute;
                                content: "";
                                top: 0;
                                left: 100%;
                                width: 0;
                                height: 0px;
                                border: 22px solid #FF324D;
                                border-bottom-color: #FF324D;
                                border-right-color: transparent;
                            }
                        }
                        h2{
                            text-transform: capitalize;
                            font-weight: 700;
                            font-size: 60px;
                            margin-bottom: 1rem;
                        }
                        p{
                            color: white;
                            margin-bottom: 2rem;
                        }
                        a{
                            z-index: 1;
                            padding: 12px 35px;
                            display: inline-block;
                            width: unset;
                        }
                    }
                }
                .active{
                    display: block;
                }
                .arrows{
                    position: absolute;
                    top: 50%;
                    width: 100%;
                    a{
                        position: absolute;
                        background-color: white;
                        color: $mainTextcolor;
                        width: 35px;
                        height: 35px;
                        line-height: 35px;
                        text-align: center;
                        border-radius: 5px;
                        transition: $mainTransition;
                        opacity: 0;
                        &:hover{
                            background-color: $mainHoverColor;
                            color: white;
                            transition: $mainTransition;
                        }
                    }
                    .slide-prev{
                        left: 0;
                    }
                    .slide-next{
                        right: 0;
                    }
                }
            }
            &:hover{
                transition: $mainTransition;
                .arrows{
                    a{
                        opacity: 1;
                    }
                    .slide-prev{
                        left: 1%;
                    }
                    .slide-next{
                        right: 1%;
                    }
                }
            }
        }
    }
    #categoriesArea{
        .categories{
            padding: 1.5rem;
            box-shadow: $littleShadow;
            position: relative;
            margin-top: -70px;
            background-color: white;
            border-radius: 5px;
            margin-bottom:2rem ;
            .title{
                a{
                    padding: 10px 25px;
                    font-size: 14px;
                    display: inline-block;
                    z-index: 1;
                }
            }
        }
        .single-category{
            a{
                display: block;
                padding: 35px;
                background-color: #f7f7f7;
                text-align: center;
                text-decoration: none;
                color: $mainTextcolor;
                transition: all .3s ease-in-out;
                i{
                    display: block;
                    font-size: 40px;
                    margin-bottom: 15px;
                }
                span{
                    font-size: $text;
                }
                &:hover{
                    color: $mainHoverColor;
                    transition: all .3s ease-in-out;
                }
            }
        }
        .owl-carousel{
            &:hover{
                transition: $mainTransition;

                .owl-nav{
                    button{
                        opacity: 1;
                        transition: $mainTransition;
                    }
                    .owl-prev{
                        left: 0.5%;
                    }
                    .owl-next{
                        right:0.5%;
                    }
                }
            }
            .owl-nav{
                display: block;
                position: absolute;
                width: 100%;
                top: 25%;
                button{
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    background-color: white;
                    opacity: 0;
                    transition: $mainTransition;
                    font-size: 25px;
                    &:hover{
                        background-color: $mainHoverColor;
                        color: white;
                        transition: $mainTransition;
                    }
                }
                .owl-prev{
                    left: -10%;
                }
                .owl-next{
                    right: -10%;
                }
            }
        }
    }
    #productsArea{
        padding: 2rem 0;
        .title{
            text-align: center;
            margin-bottom: 2rem;
            h2{
                font-weight: 600;
            }
            p{
                margin-bottom: 0;
            }
        }
    }
    #specialOffersArea{
        padding: 2rem 0;
        .title{
            text-align: center;
            margin-bottom: 2rem;
            h2{
                font-weight: 600;
            }
            p{
                margin-bottom: 0;
            }
        }
        .owl-dots{
            display: block;
            button{
                span{
                    border: $mainHoverColor 1px solid;
                    background-color: transparent;
                    transition: $mainTransition;
                    &:hover{
                        background-color: $mainHoverColor;
                        transition: $mainTransition;
                    }
                }
            }
            .active{
                span{
                    background-color: $mainHoverColor;
                }
            }
        }
    }
    #blogArea{
        padding: 2rem 0 6rem;
        .title{
            text-align: center;
            margin-bottom: 2rem;
            h2{
                font-weight: 600;
            }
            p{
                margin-bottom: 0;
            }
        }
        .single-blog{
            box-shadow: 0 0 10px rgba(0,0,0,0.08);
            margin-bottom: 2rem;
            .blog-img{
                border-radius: 5px 5px 0 0;
                overflow: hidden;
                img{
                    max-width: 100%;
                    transition: $mainTransition;
                    &:hover{
                        transform: scale(1.2);
                        transition: $mainTransition;
                    }
                }
            }
            .blog-info{
                padding: 15px 15px 0;
                h4{
                    font-weight: 600;
                    a{
                        text-decoration: none;
                        color: $mainTextcolor;
                        transition: $mainTransition;
                        &:hover{
                            color:$mainHoverColor ;
                            transition: $mainTransition;
                        }
                    }
                }
                p{
                    margin-bottom: 0;
                    padding-bottom: 10px;
                    border-bottom: $singleBorder;
                    span{
                        margin-right: 10px;
                        color: $mainTextcolor;
                        i{
                            color: $mainHoverColor;
                            margin-right: 3px;
                        }
                    }
                }
            }
            .blog-content{
                padding: 10px 15px 15px;
                p{
                    margin-bottom: 0;
                }
            }
        }
    }

    //Responsivness

    @media only screen and (max-width:992px){
        #introHome{
            .slide-banner{
                .banner-content{
                    h2{
                        font-size: 52px !important;
                    }
                }
            }
        }
    }

    @media only screen and (max-width:992px){
        #myNav{
            .nav-link{
                color: $mainTextcolor !important;
                &:hover{
                    color: $mainHoverColor !important;
                }
            }
            .shop-nav{
                .nav-link{
                    color: white !important;
                    &:hover{
                        color: $mainHoverColor !important;
                    }
                }
            }
        }
        #introHome{
            .slide-banner{
                .banner-content{
                    h2{
                        font-size: 44px !important;
                    }
                }
            }
        }
        #categoriesArea{
            .categories{
                .title{
                    text-align: center;
                    margin-bottom: 10px;
                }
            }
        }
    }

    @media only screen and (max-width:480px){
        #introHome{
            .slide-banner{
                .banner-content{
                    h5{
                        font-size: $text !important;
                    }
                    h2{
                    font-size: $text !important;
                    }
                }
            }
        }
    }
}