#termsPage{
    @extend %btnExtend;

    font-family: $textFont;
    color: $mainTextcolor;
    #termsArea{
        padding: 5rem 0;
        h6{
            margin-bottom: 15px;
        }
        .borders{
            div{
                border-bottom: #ddd 1px solid;
                margin-bottom: 15px;
            }
            div:last-child{
                border-bottom: none;
                margin-bottom: 0;
            }
        }
        ol,ul{
            padding: 15px;
            font-size: $text;
            line-height: 28px;
            color: $secondTextColor;
        }
    }

    @media only screen and (max-width:992px){
        .container{
            max-width: 1140px;
        }
    }
}