//Colors
$mainHoverColor:#FF324D;
$mainTextcolor:#292b2c;
$secondTextColor:#646a7c;

//Font Sizes
$title:32px;
$subtitle:20px;
$text:14px;

//Font Family
$titleFont:'Roboto', sans-serif;
$textFont:'Poppins', sans-serif;

//Box Shadows
$littleShadow:rgba(0, 0, 0, 0.15) 0px 0px 5px;
$bigShadow:0 0 20px rgba(0, 0, 0, 0.2);

//Transition
$mainTransition:all .5s ease-in-out;

//Border
$singleBorder:#ddd 1px solid;
